<%- include ('../partials/header') %>

<!-- Page Header -->
<header class="masthead" style="background-image: url('images/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Admin Panel</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  

    <!-- Main Content -->
    <div class="container">
      <% adminActions.forEach( (action)=>{ %>
      <div class="row">
          <div class="col-lg-4 mx-auto">
            <button id="<%=action.actionId%>" onclick="catchID(this.id)" type="button" class="btn btn-primary btn-block float-left"><%=action.DisplayName%></button>
          </div>
         
          <div class="col-lg-8 mx-auto">
          </div>
      </div>
      <%  }); %>
       
      </div>


      <script>
        function catchID(clicked_id){
            if (clicked_id == 4){
              window.location.href='admin/new-blog'; return false;
            }
        }
      </script>
<%- include ('../partials/footer') %> 