<%- include ('../partials/header') %>

<!-- Page Header -->
<header class="masthead" style="background-image: url('images/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Clean Blog</h1>
            <span class="subheading">A Blog Theme by Start Bootstrap</span>
          </div>
        </div>
      </div>
    </div>
  </header>


  <div class="container">
    <h1 style="text-align: center;">Admin Login</h1>
<form action="/login" method="POST">
    <div class="form-group">
      <label for="userEmail">Email address</label>
      <input type="email" class="form-control" id="userEmail" placeholder="Enter email" name="username">
    </div>
    <div class="form-group">
      <label for="userPassword">Password</label>
      <input type="password" class="form-control" id="userPassword" placeholder="Password" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>


<br> <br> <br> <br>
<%- include ('../partials/footer') %>