<%- include ('../partials/header') %>
<script>
  
</script>
<br> <br> <br> <br>
<!-- Page Header -->
<header class="masthead" style="background-image: url('../images/home-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>new blog</h1>
        </div>
      </div>
    </div>
  </div>
</header>
<br> <br> <br> <br>


<div class="container">
<form action="">
  <div class="form-group">
    <label for="blogTitle">Blog Title</label>
    <input type="text" class="form-control" id="blogTitle" placeholder="Blog Başlığı">
  </div>
  <div class="form-group">
    <label for="blogOzet">Blog Ozet</label>
    <input type="text" class="form-control" id="blogOzet" placeholder="Blog Ozeti">
  </div>
  <div class="form-group">
    <label for="ozetImage">Ozet İmajı</label>
    <input type="text" class="form-control" id="ozetImage" placeholder="Blog Başlığı">
  </div>
  <textarea name="editor" id="mytextarea"></textarea>
<button id="myButton" class="btn btn-primary">Submit</button>
</form>


</div>

<script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
<script>
  CKEDITOR.replace( 'editor' );
</script>
<br> <br> <br> <br>
<%- include ('../partials/footer') %>